.header {
    display : flex;
    justify-content: space-between;
    border: solid black;
}
.nav-links{
    display: inline-flex;
    width: 50%;
    justify-content: end;
}

.logo-img{
    width: 200px;
}

.home,.about,.cart,.contact-us{
    padding-top: 80px;
    padding-right: 20px;
    font-size: large;
}
