.header {
    display : flex;
    justify-content: space-between;
    border: solid black 1px;
}
.nav-links{
    display: inline-flex;
    width: 50%;
    justify-content: end;
}

.logo-img{
    width: 200px;
}

.home,.about,.cart,.contact-us{
    padding-top: 80px;
    padding-right: 20px;
    font-size: large;
}

.search-container {
    padding: 8px;
    display: inline-flex;
    justify-content: space-between;
}
.search-bar{
    padding-right: 20px;
}
.card-box{
    display: flex;
    flex-wrap: wrap;

}
.card-container{
  background-color: lightgray;
    width: 200px ;
    padding: 5px;
   margin : 5px;
   
  
    
} 


.card-container:hover {
    border: solid black 1px ;
}

.res-img{
    width: 100%;
}
.res-details{
    padding-left: 20px;
}
.Filter{
    margin: 5px;
}