.header {
    display : flex;
    justify-content: space-between;
    border: solid black 1px;
}
.nav-links{
    display: inline-flex;
    width: 50%;
    justify-content: end;
}

.logo-img{
    width: 200px;
}

.home,.about,.cart,.contact-us{
    padding-top: 80px;
    padding-right: 20px;
    font-size: large;
}


.search-container {
    padding: 8px;
   margin-left:100px;
}
.search-bar{
    padding-right: 20px;
    margin-left: 20px;
}
.card-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.shimmer{
  
  background-color: lightgray;
    width: 200px ;
    height: 500px;
    padding: 5px;
   margin : 20px;
}
.card-container{
    background-color: lightgray;
    width: 200px ;
    height: 500px;
    padding: 5px;
   margin : 20px;
    
} 
.cuisines-container{
    display: flex;
    flex-wrap: wrap;
}

.cuisines{
    font-size: small;
     overflow-wrap:anywhere; 
    
}

.card-container:hover {
    border: solid black 1px ;
}

.res-img{
    width: 100%;
}
.res-details{
    padding-left: 20px;
}
.filter{
    margin: 5px;
}
.login{
    height: 40px;
    width: auto;
   
    margin-top: 70px;
    font-size: medium;
    margin-right: 20px;
}
.searchbutton{
    margin-left: 2px;
}